<!doctype html>
<html lang="it">
<head>
	<title>Login Art Gallery</title>
	<link href="foglioDiStile.css" rel="stylesheet" type="text/css">


</head>
	
<body>

<h1> recupera password </h1>


<form action='/recuperaPassword' method='post'>
<input type='text' placeholder='Enter Username' name='username' required>
<button type='submit' name='recName'>Invia</button>
</form>


<form action='/' method='post'>
    
    <button type='submit' name='recName'>indietro</button>
</form>

</body>