
{% if twig.data %}
<ul>
    <h1> Tabella in Db</h1>
    {% for tupla in twig.data %} 
       <table>
         
          {% for val in tupla %}
               {{ val }} &nbsp
           {% endfor %}
    {% endfor %}
             </br>
             
        </table>
        
</ul>

 {% else %}    
     
 <h1>Tabella non trovata!!</h1>
     
 {% endif  %}
             
 


    
<form action='/tornaHome' method='post' >
    <div> <button type='submit' name='backName2' > << Indietro</button> </div>
</form>
    
    
