<h1> Inserisci tabella </h1>


 
<form action='/cercaDb' method='post'>
    <input type='text' name='tabella' value='' placeholder='inserisci tabella'></br>
    <button type='submit' name='loginName' class='buttonClass'> submit </button>

</form>


    
<form action='/tornaHome' method='post' >
    <div> <button type='submit' name='backName2' > << Indietro</button> </div>
</form>
    
    
