<!doctype html>
<html lang="it">



<head>

<style>

    .buttonClass {


        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        background-color: #afc6af; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }

    .buttonClass:hover {
        background-color: #4CAF50; /* Green */
        color: white;
    }

    .bodyClass {

        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding-left: 3%;
        padding-right: 3%;
        background-color: #F1F1F1;
    }

    .headerClass {
        background-color: #F1F1F1;
        text-align: center;
        padding: 20px;
    }

    .topnav {
        overflow: hidden;
        background-color: #333;
    }

    /* Style the topnav links */
    .topnav a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    /* Change color on hover */
    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }
    .menu {
        overflow: hidden;
        background-color: #b8e0b9;

    }

    .buttonContainer{
        text-align: center;

    }

    .buttonContainer button, .buttonContainer form{
        display: inline-block;


    }

</style>
</head>
<body class="bodyClass">
<h1> Lista autori</h1>

<ul>
    {% for autore in twig.data %}
        <li>Nome:{{ autore.nome }}</br> Età: {{ autore.eta }}</br>
            <form action='/cercaOpereAutore' method='post'>
                <button type='submit' name='tasto' class='buttonClass' value='{{autore.autore_id}}'>lista Opere</button>  
            </form>
        </li>
        </br>
        </br>
    {% endfor %}
</ul>

<form action='/tornaHome' method='post' >
    <div> <button type='submit' name='backName2' > << Indietro</button> </div>
</form>
    

</body>
</html>